.vs
.idea
*.sln
Intermediate
samples/Projects/Shooter - Test/Binaries/
samples/Projects/Shooter - Test/Intermediate/
samples/Projects/Shooter - Test/Plugins/
samples/Projects/Shooter - Test/Saved/
samples/Projects/Shooter - Test/Shooter.xcworkspace/
samples/Projects/Bugs/Binaries/
samples/Projects/Bugs/Plugins/CppHotReload/
samples/Projects/Bugs/Saved/
samples/Projects/Bugs/Shooter.xcworkspace/
*UE4Editor-*
